body {
	font: 14pt Helvetica, Arial, sans-serif;
	margin: 0;
	padding-top: 125px;
}

.hidden {
	display: none;
}

ul {
	margin: 0;
	padding: 0;
}

h1 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 18pt;
	color: #EE5500;
	float: left;
}

header {
	padding-left: 75px;
	overflow: hidden;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.10);
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background: rgba(255,255,255,0.95);
}

header > h1 {
	line-height: 100px;
	vertical-align: middle;
	display: inline-block;
}

header > nav {
	float: right;
	padding: 0;
	padding-right: 75px;
}

header > nav > ul {
	list-style: none;
}

header > nav > ul li {
	display: inline-block;
	padding-right: 40px;
	line-height: 100px;
	vertical-align: middle;
}

header > .controls {
	float: left;
	line-height: 100px;
	padding-left: 75px;
}

.controls > label {
	font-size: 14px;
	color: #909090;
	margin-right: 40px;
}

.controls > label span {
	font-weight: normal;
	margin-right: 15px;
}

.controls select, .controls input {
	border: 1px solid #e0e0e0;
	background: white;
	padding: 8px;
	box-shadow: inset 2px 2px 4px #f0f0f0;
	font-size: 15px;
}

a {
	text-decoration: none;
	transition: border-color, color .1s linear;
	border-bottom: 1px solid rgba(238, 85, 0, 0.35);
}
a, nav a:visited {
	color: #EE5500;
}
a:hover, nav a:visited:hover {
	color: #9B0606;
	border-color: rgba(155, 6, 6, 0.35);
}
a:visited {
	color: #555555;
	border-color: rgba(85, 85, 85, 0.35);
}

.content .no-messages {
	font-size: 20px;
	color: #909090;
	text-align: center;
	padding: 100px 0px;
}

.history-nav {
	border-top: 1px solid #f0f0f0;
	text-align: center;
	color: #909090;
	padding: 20px 0px;
	margin: 20px 0px;
}

.history-nav > span {
	padding: 0px 15px;
}

ul.messages {
	
}
ul.messages > li {
	font-size: 13pt;
	line-height: 1.55;
	border-bottom: 1px dashed #f0f0f0;
	padding: 5px 75px;
}
ul.messages > li .author {
	color: #909090;
}
ul.messages > li > p {
	display: inline;
	margin: 0;
	padding: 0;
}
ul.messages > li .mention {
	font-weight: bold;
}
ul.messages > li .channel {
	font-weight: bold;
	color: #005588;
}
ul.messages > li time {
	float: right;
	color: #909090;
	padding-left: 15px;
}

.emj {
	width: 20px;
	vertical-align: middle;
}

footer {
	margin-top: 50px;
	margin-bottom: 50px;
	color: #d0d0d0;
	text-align: center;
	font-style: italic;
	font-size: 14px;
}
