<!DOCTYPE html>
<html>
	<head>
		<title>Архив Апворкача</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='emoji.css') }}" />
	</head>
	<body>
		<header>
			<h1>Архив Апворкача</h1>
			<nav>
				<ul>
					<li><a href="/">Архив</a></li>
					<li><a href="/">Избранное</a></li>
				</ul>
			</nav>
			<div class="controls">
				<label for="channel">
					<span>Канал:</span>
					<select name="channel" id="channels"></select>
				</label>

				<label for="date">
					<span>Дата:</span>
					<input type="date" id="date" />
				</label>
			</div>
		</header>
		<div class="content">
			<div class="no-messages">За этот день сообщений нет.</div>
			<ul class="messages"></ul>
			<nav class="history-nav">
				<span class="prev">&larr; <a href="/general/2015-07-19">В прошлое</a></span>
				<span class="next"><a href="/general/2015-07-21">В будущее</a> &rarr;</span>
			</nav>
		</div>
		<footer>Powered by Baka</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
		<script src="{{ url_for('static', filename='emoji.js') }}"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
		<script type="text/html" id="message-template">
			<li>
				<time datetime="<%= time %>"><%= moment(time).format('hh:mm:ss') %></time>
				<span class="author" style="color: <%= nameColor(author) %>">&lt;<%= author %>&gt;:</span>
				<%= minEmoji(message) %>
			</li>
		</script>
	</body>
</html>
